.header-nav {
  position: sticky;
  box-shadow: 0px 10px 20px #ccc;
  margin-bottom: 10px;
}
.header-ul {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.header-h2 {
  font-family: monospace;
  font-size: 30px;
}
.header-button{
  background-color: #3d15ec10;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.header-button:hover {
  background-color: #f5a907;
  color: white;
}